:root {
    --secondary-color:#666;
    --introduction-span-color:#FF8A56;
}

* {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    /* TODO display: flex; sətir boyunca bizim elementleri düzür */

    justify-content: space-between;
    /* TODO  justify-content: space-between; img-nav arasına boşluq qoyur */

    align-items: center;
    /* TODO align-items: center; yuxarıdan aşağıya doğru düz mərkəzə çəkir */

    
    padding: 0 99px;
    background: linear-gradient(to bottom, #0a111e ,#0b1320 )
}

header nav {
    display: none;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color:#000;
    margin-right: 10px;
    color: #FFFF;
    
}

.parentdiv{
   
    padding: 32px;
    margin: 20px;
    
}

.introduction{
    background-color: #08101e;
    padding: 0 100px;
   
}

.h3{
    display: flex;
    justify-content: space-between;
    color: #3A68B8;
    font-weight: 600;
    font-size: 18px;
    align-items: center;

}

.call{
    color: #FFFF;
    background-color: #3A68B8;
    border-radius: 5px;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;


}

.introduction .intro-left-side h1 {
    font-weight: 600;
    
}

.introduction .intro-left-side p {
    color:var(--secondary-color);
    font-weight: 400;
}

.book-a-call {
    margin-top: 40px;
}

.introduction .intro-left-side .book {
    background: #3A68B8;
   
    color:#fff;
    width: 151px;
    height: 58px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 10px;
padding: 5px 15px;
border-radius: 5px;
}

.div{
    justify-content: space-between;
    display: flex;
    background-color: #08101e;
    padding: 100px 80px;
}

.h1{
   margin-left: 500px;
   margin-right: 400px;
   font-size: 18px;
   color: #000;
 
}

.div{
    display: flex;
    justify-content: space-between;
}

.logoipsumlar h6{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}



h3{
    color: #3A68B8;
    font-size: 18px;
font-style: normal;
font-weight: 600;
  
}



/* TODO 2 hisse----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.entrance{
   
    padding: 0px;
    
    
}

.intro-section{
    background-color: #020a18;
    padding: 88px 100px;
   
}

article{
    color: #FFFF;
    opacity: 0.7;
    font-size: 15px;
}

.call{
    color: #FFFF;
    background-color: #3A68B8;
    border-radius: 5px;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;


}

.intro-section .div-right h2 {
    font-weight: 600;
    font-size: 35px;
    color: rgb(255, 255, 255);
    
}

.intro-section .div-right p {
    color:var(--secondary-color);
    font-weight: 400;
}

.book-a-call {
    margin-top: 40px;
}

.intro-section .div-right .book {
    background: #3A68B8;
   
    color:#fff;
    width: 151px;
    height: 58px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 10px;
padding: 5px 15px;
border-radius: 5px;
}

.div{
    justify-content: space-between;
    display: flex;
    background-color: #08101e;
    padding: 100px 80px;
}

.h1{
   margin-left: 500px;
   margin-right: 400px;
   font-size: 18px;
   color: #000;
 
}

.div{
    display: flex;
    justify-content: space-between;
}

.logoipsumlar h6{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}



h3{
    color: #3A68B8;
    font-size: 18px;
font-style: normal;
font-weight: 600;
  
}



/* TODO kars hissesi----------------------------------------------------------------------------------------------------------------------- */



.services-cards{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(192px,1fr));
   
    background-color: #020a18;
    color: #FFFF;
}

.services-cards .card:hover{
    -webkit-box-shadow: 28px -20px 27px -6px rgb(255, 255, 255);
-moz-box-shadow: 28px -20px 27px -6px rgb(255, 255, 255);
box-shadow: 28px -20px 27px -6px rgb(255, 255, 255);
    border-radius: 0;
}

.services-cards img{
    margin: 0 60px;
}

.services-cards .card{
    transition: all .9s ease-in;
    padding: 15px;
    margin-bottom: 100px;

}

.card{
    background: linear-gradient(to bottom,#0d1422 ,#19202d);
    margin: 5px;
    border-radius: 20px 20px;
}

h5{
    color: #FFFF;
    opacity: 0.9;
    text-align: center;
    font-size: 18px;
    
}

p{
    opacity: 0.7;
    text-align: center;
    font-size: 16px;
}





/* TODO 3 hisse--------------------------------------------------------------------------------------------------------------------------------------------------------------*/








.share{
    background-color: #020a18;
    padding: 0 100px;
   
}

.h3{
    display: flex;
    justify-content: space-between;
    color: #3A68B8;
    font-weight: 600;
    font-size: 18px;
    align-items: center;

}

.call{
    color: #FFFF;
    background-color: #3A68B8;
    border-radius: 5px;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;


}

.share .left-side h1 {
    font-weight: 600;
    
}





.share .left-side .book {
    background: #3A68B8;
   
    color:#fff;
    width: 151px;
    height: 58px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 10px;
padding: 5px 15px;
border-radius: 5px;
}

.div{
    justify-content: space-between;
    display: flex;
    background-color: #08101e;
    padding: 100px 80px;
}

.h1{
   margin-left: 500px;
   margin-right: 400px;
   font-size: 18px;
   color: #000;
 
}

.div{
    display: flex;
    justify-content: space-between;
}

.logoipsumlar h6{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}









/* TODO  */


@media(max-width:575px) {
    .parentdiv {  
        max-width: 100%;
    }
    .entrance {
        max-width: 100%;
    }
    .share{
        max-width: 100%;
    }
   
}




@media(min-width:576px) {
    .parentdiv {
        max-width: 540px;
        margin: 0 auto;
        
    }
    .entrance {
        max-width: 540px;
        margin: 0 auto;
    }
    .share{
        max-width: 540px;
        margin: 0 auto;
    }
   
}

@media(min-width:768px) {
    .parentdiv {
        max-width: 720px;
        margin: 0 auto;
        
    }
    .entrance {
        max-width: 720px;
        margin: 0 auto;
    }
    .share{
        max-width: 720px;
        margin: 0 auto
    }
    
}

@media(min-width:992px) {
    .parentdiv {
        max-width: 960px;
        margin: 0 auto;
    }
    .introduction {
        display: flex;
        
    }
    .introduction .intro-left-side .h2 {
        font-size: 42px;
        color: #FFFF;


    }
    .introduction .intro-left-side {
        padding: 92px 0;
    }
    .introduction .intro-right-side {
        padding-top: 0px;
    }
    .introduction .intro-right-side img{
        width: 512px;
        height: 595px;
    }
/* TODO 2 */
    .entrance {
        max-width: 960px;
        margin: 0 auto;
    }
    .intro-section {
        display: flex;
        
    }
    .intro-section .div-right .h2 {
        font-size: 42px;
        color: #FFFF;


       
    }
    .intro-section .div-right {
        padding: 92px 0;
    }
    .intro-section .div-left {
        padding-top: 0px;
    }
    .intro-section .div-left img{
        width: 512px;
        height: 528px;
    }
 
/* TODO 3 */



.share {
    display: flex;
    
}

.share .left-side {
    padding: 92px 0;
}
.share .right-side {
    padding-top: 0px;
}
.share .right-side img{
    width: 512px;
    height: 595px;
}

.share .left-side .h4 {
    font-size: 30px;
    color: #FFFF;


   
}

}
 
@media(min-width:1200px) {
    .parentdiv {
        max-width: 1140px;
        margin: 0 auto;
    }
    
    .entrance {
        max-width: 1140px;
        margin: 0 auto;
    }
    .share{
        max-width: 1140px;
    }
}

@media(min-width:768px) {
header nav {
    display: block;
}

.fa-bars {
display: none;
}
}























